.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
  p {
    padding: 1rem;
    color: rgb(24, 20, 20);
  }
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;

  svg {
    cursor: pointer;
    color:rgb(24, 20, 20);
  }

  svg:hover {
    color:rgb(66, 66, 66);
    transition: all 0.3s ease-out;
  }
}

input[type="range"]:focus {
  outline: none; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}
input[type="range"]::-moz-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.track {
  background: linear-gradient(to right, #C32B37, #cc5a64, );
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  // background: linear-gradient(to right, "#C32B37", "#cc5a64")
}
.animate-track {
  background: rgb(24, 20, 20);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);  
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;  
  }
  .play-control {
    width: 60%;
  }
}
