.playlist {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: rgb(218, 218, 218);
  box-shadow: 3px 1px 20px 0px #423a46;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease; 
  opacity: 0;

  h2 {
    padding: 2rem;
  }

  .playlist-title {
    font-size: 15px; 
  }
}

.playlist-track {
  display: flex;
  align-items: center; 
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
  img {
    width: 30%;
    border-radius: 2px;
  }
  &:hover {
    background: rgb(195, 195, 195);
  }  
}

.track-description {
  padding-left: 1rem;
  h3 { 
    font-size: 1rem;
  }
  h4 { 
    font-size: 0.75rem; 
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(192, 30, 30, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(155, 155, 155);
  border-radius: 20px;
  border: transparent;
} 

.selected {
  background: rgb(224, 179, 179);
}
 
.active-playlist { 
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {  
  .playlist {
    width: 100%; 
  }  
}
